{% load static %}
<style>
  #hero {
  width: 100%;
  height: 100vh;
  background: url("static/img/toronto-skyline-sunset-l.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background:transparent;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  padding: 10px;

}

#hero img {
  border-radius: 50%;
  float: left;
  width: 220px;
  height: 220px;
  padding: 15px;
}

#hero p {
  color: #ffffff;
  margin: 15px 0 0 0;
  font-size: 30px;
  font-family: "Poppins", sans-serif;

}

#hero p span {
  color: #ffffff;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #ffffff;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0563bb;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}  
</style>


<section id="hero" class="d-flex flex-column justify-content-center">
    
    <div class="container" data-aos="zoom-in" data-aos-delay="100" style="padding-top: 250px;" >
      <img src="{% static 'img/sam&pip.jpeg'%}">
      <h1>  Hi! I'm Sam</h1>
      <p>I'm a <span id="typed"></span></p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/samuelweller2000/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100009392679657" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://github.com/samweller24"  target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://twitter.com/SamSocial1" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </section>
